* {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    color: #EAEAEA;
    background-color: #8d8d8d;
    font-family: "Love Ya Like A Sister", cursive;
}

main {
    scrollbar-width: none;
    margin-bottom: 2vmax;
}

::placeholder {
    color: royalblue;
    font-weight: 900;
    font-family: "Love Ya Like A Sister", cursive;
}

#web_name {
    color: #fffb00;
    text-align: center;
    font-size: 2.5vmax;
    font-style: italic;
    font-weight: 900;
}

#header-opt {
    font-size: 2vmax;
    display: flex;
    justify-content: center;
}

#sear_opt {
    width: 60vw;
    height: auto;
    padding: 1vmax;
    border-radius: 1vmax;
}

button {
    font-weight: 900;
    border-radius: 0.3vmax;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5vmax 1vmax;
    border-radius: 1vmax;
    cursor: pointer;
}

button:hover {
    color: #a6ffa9;
    background-color: rgb(94, 93, 93);
}

footer {
    position: sticky;
    color: #EAEAEA;
    background-color: #3A3A3A;
    bottom: 0;
    font-weight: 900;
}

footer>div {
    text-align: center;
    margin-right: 1vmax;
}

footer>div:hover {
    color: #FFD700;
    pointer-events: none;
    text-decoration: underline;
}

#overview {
    height: 50%;
    background-color: #016443;
    color: #FFEA00;
    opacity: 0;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    transition: all .5s ease-in;
}

#movie:hover #overview {
    opacity: 1;
    z-index: 1000;
    border-radius: .7vmax;
    transform: scale(1.1);
}