#main {
    background-color: rgb(83, 82, 82);
    text-align: center;
    display: flex;
}

marquee {
    color: black;
    text-shadow: 0px 0px 10px blue;
}

#form {
    width: 35vmax;
    /* height: 40vmax; */
    color: grey;
    margin: auto;
    margin-top: 1vmax;
    display: block;
    background-color: white;
    font-weight: 900;
    border-radius: 5%;
    box-shadow: 0px 0px 10vmax rgb(117, 255, 113);
}

p {
    color: rgb(0, 4, 255);
    font-size: 2vmax;
    font-weight: 900;
}

.box {
    width: 33vmax;
    height: 2vmax;
    color: red;
    font-weight: 700;
}

.box:focus-visible {
    font-weight: 900;
}
.box {
    width: 33vmax;
    height: 2vmax;
    color: red;
    font-weight: 700;
}
.password {
    width: 33vmax;
    height: 2vmax;
    color: red;
    font-weight: 700;
}
.password:focus-visible {
    font-weight: 900;
}

.password:hover {
    background-color: rgb(204, 204, 204);
    color: black;
    font-weight: 900;
}

#submit {
    width: 33vmax;
    height: 3.5vmax;
    color: white;
    font-size: 1vmax;
    font-weight: 900;
    background-color: blue;
}

#submit:hover {
    color: blue;
    background-color: white;
}

.text {
    color: black;
    margin-right: 290px;
}

#h1 {

    color: red;
    font-size: 2vmax;
    font-weight: 900;
    text-shadow: 1px 1px 1px black;
}