* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.4vmax;
    scrollbar-width: none;
    transition: all ease 1s;
}

body {
    color: white;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    width: 100vw;
    height: auto;
    background-color: #424242;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vmax;
}

header>div>h1 {
    font-size: 2.3vmax;
    color: #00ffb3;
}

header>div {
    display: flex;
    gap: 1vmax;
    align-items: center;
    font-weight: bold;
}

header>div>p:hover {
    transform: scale(1.4);
    color: #00ffb3;
}

main {
    height: 78vh;
    background-color: #333;
    color: white;
    padding: 2vmax;
    border-radius: 8px;
    overflow: scroll;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #424242;
    justify-content: space-between;
    padding: 1.5vmax;
}

footer #input {
    width: 70vw;
    height: 8vh;
    border: none;
    margin: auto;
    border-radius: 4px;
    padding: 1vmax;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

footer #input:focus {
    outline: none;
    border: 2px solid #00ffb3;
}

footer button {
    width: 14vw;
    height: auto;
    color: #00ffb3;
    background-color: #424242;
    font-weight: 900;
}

@media (max-width:500px) {
    footer #input {
        width: 70vw;
        height: 5vh;
    }
}